<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=1>
        <tr>
        
            <td>Name</td>
            <td>Address</td>
            <td>Phoneno</td>
        
    </tr>
        
        
        {% for i in re %}
        <tr>
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phoneno}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>