<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <tr>
          <td><label for="">Salesman Name</label></td>
          <td><input type="text" name="salesmanname" id="" /></td>
        </tr>
        <tr>
          <td><label for="">Salesman Code</label></td>
          <td><input type="text" name="salesmancode" id="" /></td>
        </tr>
        <tr>
          <td><label for="">Branch</label></td>
          <td><input type="text" name="branch" id="" /></td>
        </tr>
        <td><label for="">Profile Image</label></td>
        <td><input type="file" name="profileimg" id="" /></td>
      </tr>
      <td>User Type</td>
      <td><select name="Roles" id="">
        <option value="STUDENT">Student</option>
        <option value="SALESMAN">Salesman</option>
      </select></td>
    </tr>
    <tr>
      <td>User Name</td>
      <td><input type="text" name="username" id="" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="password" id="" /></td>
    </tr>
    <tr>
        <tr>
          <td></td>
          <td><input type="submit" name="submit" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
